<mat-card>
    <img mat-card-image src="assets/images/house.jpg" alt="תמונה מדהימה של דירה">
    <mat-card-title class="title">הדירה הראשונה שלך מעולם לא הייתה קרובה יותר!</mat-card-title>
    <mat-card-content>
      <p>
        הצטרף עוד היום לסדנה היחידה, שתספק לך את כל הידע והכלים שאתה צריך כדי לרכוש סוף סוף את הדירה הראשונה שלך 🏠
      </p>
      <h3>למי מיועדת הסדנה?</h3>
      <p>הסדנה מיועדת לשני בני הזוג ודורשת השתתפות ורצינות מלאה.</p>
      <h3>מה תקבלו בסדנה?</h3>
      <ul>
        <li>כל הידע והכלים הדרושים לרכישת דירה ראשונה.</li>
        <li>ייתכן ותהיו זכאים להלוואה של 100,000 ₪ להון העצמי, בפריסה נוחה ל-8 שנים, ללא ריבית והצמדה 💵.</li>
      </ul>
      <p class="cta">
        <a mat-button color="primary" href="https://forms.gle/5PAmbGkBWWWtX3x8A" target="_blank">להרשמה</a>
      </p>
    </mat-card-content>
  </mat-card>
  